---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html, body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $openSans;
  color: $darkGray;
  line-height: 160%;
}

.page-container {
  min-height: 100%;
  margin-bottom: -88px;
  position: relative;
}

// .container {
//   margin: 0 auto;
//   max-width: 740px;
//   padding: 0 10px;
//   width: 100%;
// }

h1, h2, h3, h4, h5, h6 {
  font-family: $fjalla;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  font-style: italic;
  text-transform: uppercase;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
  a:hover {
    text-decoration: underline;
  }
}

p {
  margin: 15px 0;
}

a {
  color: $orangeDarker;
  text-decoration: underline;
	cursor: pointer;
  &:hover, &:active {
    color: $orangeDarker;
    text-decoration: underline;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.headline {
  text-align:center;
  text-transform:capitalize;
  font-size:60px;
  font-style:normal;
}

.subheader {
  text-align:center;
  text-transform:capitalize;
  font-size:24px;
  font-style:normal;
  font-family:$openSans;
  font-weight:300;
}

.banner-logo {
  //text-align:center;
  display:block;
  margin:0 auto;
  margin-top: 4em;
  border:1px solid #eee;
}

.contact-email {
  text-align: center;
  color: $orangeDarker;
  font-size: 24px;
}

.contact-icons {
  font-size: 28px;
  text-align: center;
  a {
    color: $darkGray;
  }
  a:hover {
    color: $gray;
  }
}

.footer-icons {
  a {
    color: $lightGray;
  }
  a:hover {
    color: $gray;
  }
}

.date {
  font-style: italic;
  color: $gray;
}

.align-left {
  float:left;
}

.align-right {
  float:right;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 2.5em;
  background: $white;
//   border-bottom: 1px solid $lightGray;
}

.masthead {
  padding: 20px 0;
	
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;
	
  margin-top: 16px; // @TODO: Vertically middle align
  font-family: $openSans;
  font-size: 21px;
  margin-bottom: 12px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkerGray;
  cursor: pointer;
  font-family: $openSans;
  font-weight: 300;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 150%;
	
  a:hover {
    color: $orange;
    text-decoration: none;
  }
}

nav {
  //float: right;
  margin-top: 16px; // @TODO: Vertically middle align
  font-family: $openSans;
  //font-size: 21px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkerGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration:none;

    &:hover {
      color:$orangeDarker;
      text-decoration:none;
    }
	  
    @include mobile {
      margin: 0 10px;
      color: $orangeDarker;
    }
  }
}

.home-page-section {
  border-top: 1px solid #eee;
  margin-top: 4em;
  padding-top: 1.5em;
  h1 {
    color: $gray;
    font-size: 36px;
  }
}

.home-page-section-no-line {
  margin-top:4em;
  h1 {
    color:$gray;
    font-size:36px;
  }
}

.feature {
  padding-left:1.5em;
  padding-right:1.5em;
}

.feature-icon {
  width:200px;
  max-width:100%;
  height:auto;
}

.jumbotron {
  height: 600px;
  margin-top:5em;
  background:
    linear-gradient(
      rgba(255,255,255,0.95),
      rgba(0,0,155,0.95)
    ),
    url(/images/OWAnniversary-IllustratedWallpaper_1920x1080.jpg);
  background-position-x: center;
	
  .jumbo-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	  
    h1 {
      color: $gray; 
      margin: 0;
      line-height:110%;
    }
    p {
      color:$gray;
      max-width:80%;
      margin: .8em auto;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  color: $gray;
  font-size: 16px;
}

.form-control { // based on Bootstrap
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: $darkGray;
  background-color: $white;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

input[type="submit"] {
  background: $orange;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 10px 10px 8px;
  font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background: $orangeDarker;
}

.clear-footer {
  height:70px;
  clear:both;
}

.wrapper-footer {
  margin-top:2em;
  position: relative;
  background-color: $darkerGray;
}

footer {
  padding: 20px 0;
  text-align: center;
  color: $white;
  font-size: 16px;
  a {
    color: $white;
    &:hover {
      color: $gray;
    }
  }
}

// convenience 
.p-b-30 {
  padding-bottom: 30px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-t-10 {
  padding-top: 10px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
