
//
// VARIABLES
//

// imports
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');

// Colors
$orange: #ee9f3a;
$orangeDarker: #d57929;
$blue: #1B9DFF;
$blueDarker: #1F6BEF;
$blueDarkest: #0a3b8f;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #393b3e;
$gray: #666;
$lightGray: #eee;
$offWhite: #fefefe;
$white: #fff;

// Font stacks
$fjalla: 'Fjalla One', sans-serif;
$openSans: 'Open Sans', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
